.container {
  font-family: sans-serif !important;
}
.card {
  border-radius: 10px;
  color: whitesmoke;
  background: rgba(60, 46, 2, 0.738);
  backdrop-filter: blur(10px);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-text {
  margin-bottom: 10px;
}

.btn {
  margin: 5px;
}
.heading {
  font-size: 50px;
  font-weight: bold;
  background: -webkit-linear-gradient(#e20d0d, #bda7a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-yellow {
  color: gold;
}
/* .delete-button {
  background: linear-gradient(rgb(231, 217, 217), rgb(255, 204, 0));
  cursor: pointer;
  border-radius: 20%;
  height: 40px;
  font-weight: bold;
}
.delete-button:hover {
  background: linear-gradient(rgba(255, 64, 0, 0.908), rgb(197, 197, 223));
} */
