/* AllExpenses.css */

.card {
  background: linear-gradient(-45deg, #bb07a9, #d80f5c, #845305);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  border-radius: 20px;
  color: whitesmoke;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-text {
  margin-bottom: 10px;
}

.btn {
  margin: 5px;
}
.heading {
  font-size: 50px;
  background: -webkit-linear-gradient(#e20d0d, #bda7a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
